
.hero-section{
    background-color: black;
    height: 481px;
}
.header-img img {
    position: absolute;
    left: 4px;
    top: 16px;
    height: 465px;
    width: 360px;
}
.header-text {
    margin-top: 20%;
}
.header-text h1{
    font-size: 76px;
    font-family: 'Berkshire Swash', cursive;
   color: rgba(255, 94, 25, 1);
}
.header-image2{
    position: absolute;
    left: 1265px;
    top: 233px;
}
.common{
    box-sizing: border-box;

    /* position: absolute; */
    width: 264px;
    height: 371px;
    /* left: 156px;
    top: 555px; */
    
    background: #0D0D0D;
    border: 1px solid #434343;
}
/* .budget-section{
    height: 500px;
} */

.player input[type="text"]
{
    background-color: transparent;
    border: 1px solid;
}
input.coach {
    position: relative;
    right: -20px;
    
}
input#coach-cost {
    position: relative;
    right: -18px;
}
button#total-calculate-btn {
    padding-right: 85px;
}
.footer {
    background-color: #151515;
    color: white;
    padding: 100px;
    border-top: 1px solid gray;
}